@media (max-width: 84em) {
  .hero-grid {
    max-width: 120rem;
  }
  h1 {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-container {
    align-self: center;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .grid {
    gap: 6.4rem;
  }
  .grid--2-col {
    column-gap: 4.8rem;
  }
  .grid--3-col {
    column-gap: 4.8rem;
  }
  .grid--4-col {
    column-gap: 4.8rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero-grid {
    column-gap: 4.8rem;
  }
  .main-nav-bar {
    gap: 3.2rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero-grid {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }
  .hero-img {
    width: 60%;
  }
  .customer-images {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .hero-description,
  .hero-image {
    text-align: center;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-detail {
    padding: 3.2rem;
    padding-top: 2.4rem;
  }
  .price-panel {
    padding: 4.8rem;
  }
  .Section-testimonial {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 3fr, 2fr;
  }
  .form-cta {
    grid-template-columns: 1fr;
  }
  .cta-btn {
    margin-top: 1.2rem;
  }
  .main-nav-btn {
    display: block;
    z-index: 1000;
  }
  .main-nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    transition: all 0.5s ease-in;

    /*hiding the navigation*/
    /* allow no transition at all */
    /* display: none; */

    /*hide it visually*/
    opacity: 0;

    /*make it unaccesseble*/
    pointer-events: none;

    /*hide it from screen recorders*/
    visibility: none;

    transform: translate(100%, 0);
  }

  .nav-open .main-nav-bar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .nav-blocks:link,
  .nav-blocks:visited {
    font-size: 3rem;
    display: flex;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  @media (max-width: 46.75em) {
    html {
      font-size: 50%;
    }
    .meal-cards {
      grid-template-columns: 1fr 1fr;
    }
    .features {
      grid-template-columns: 1fr 1fr;
    }
    .meal-list {
      grid-column: 1 / -1;
      justify-self: center;
    }
    .meal-detail {
      padding-bottom: 6.4rem;
    }
    h2 {
      margin-bottom: 4.8rem;
    }
    .price-panel {
      width: 100%;
    }
    .Section-price .grid {
      column-gap: 2.4rem;
      margin: 0 3.2rem;
    }
    .footer-section {
      grid-template-columns: repeat(6, 1fr);
    }
    .footer-extra-resources,
    .footer-company-info,
    .footer-user-account {
      grid-row: 1;
      grid-column: span 2;
    }
    .logo-division,
    .footer-address {
      grid-column: span 3;
    }
  }
}
@media (max-width: 34em) {
  .grid,
  .grid--2-col,
  .grid--3-col,
  .grid--4-col {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 3rem;
  }
  .hero-summary {
    font-size: 1.6rem;
  }
  .subscription.btn {
    padding: 2.4rem 1.2rem;
    font-size: 1.6rem;
  }
  .learn-more.btn {
    padding: 2.4rem 1.4rem;
    font-size: 1.6rem;
  }
  .hero-img {
    width: 100%;
  }
  .Section-Hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .logos img {
    height: 1.4rem;
  }
  .how-to-image:nth-child(2) {
    grid-row: 1;
  }
  .how-to-image:nth-child(6) {
    grid-row: 5;
  }
  .how-to-image {
    transform: translateY(4.8rem);
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonial-container {
    padding-bottom: 0;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-form {
    padding: 3.2rem 4.8rem;
  }
  .cta-img {
    height: 32rem;
    grid-row: 1;
  }
  .meals-section {
    padding-top: 3.2rem;
  }
} /*
-FontSize(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
-WhiteSpces(px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
