/*
---TYPOGRAPHY
-FontSize(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FontHeight:
-FontWeight:`
defalult: 400


-WhiteSpces(px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


---COLORS:

-primary: #e67e22
-tints:
-shades: #cf711f
-greys:  #555 #333
-accents:


---SHADOWS:

---BORDER-RADIUS:
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 3px dotted #e67e22;
  outline-offset: 1px;
}
html {
  font-size: 62.5%; /*set base font-size of 62.5% of 16px(default-size) i.e. 10px*/
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

h1 {
  font-size: 5.2rem;
  letter-spacing: -0.8px;
  line-height: 1.05;
  color: #2e1907;
  font-weight: 700;
}

/*********************************/
/*HEADER*/
/*********************************/
.header {
  height: 9.6rem; /*we are giving height so that we can make this sticky later*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  position: relative;
}
.logo {
  height: 2.4rem;
}

/*********************************/
/*NAVIGATIONS*/
/*********************************/

.main-nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nav-blocks:link,
.nav-blocks:visited {
  text-decoration: none;
  color: #2e1907;
  font-size: 1.8rem;
  transition: all 0.3s;
  font-weight: 500;
}

.nav-blocks.nav-cta:link,                                          /*to increase specificty to 3 we are asking for selector with 2 classes*/
.nav-blocks.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}
.nav-blocks.nav-cta:hover,                                          /*to increase specificty to 3 we are asking for selector with 2 classes*/
.nav-blocks.nav-cta:active {
  background-color: #cf711f;
}
.nav-blocks:hover,
.nav-blocks:active {
  color: #e67e22;
}
.main-nav-btn {
  border: none;
  background: none;
  display: none;
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*********************************/
/*General Reusable Components*/
/*********************************/
.cta-btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s; /*always put this in the original state*/
}

.subscription:link,
.subscription:visited {
  background-color: #e67e22;
  color: #fff;
}

.subscription:hover,
.subscription:active {
  background-color: #cf711f;
}

.learn-more {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.learn-more:link,
.learn-more:visited {
  color: #555;
  background-color: #fff;
}

.learn-more:hover,
.learn-more:active {
  background-color: #fdf2e9;
  /*border: 2px solid #fff;     It is not used because it is change  the size of element while adding border ouside the element*/
  box-shadow: inset 0 0 0 3px #fff;
}
.learn-more-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #555;
}
.margin-right-sm {
  margin-right: 1.6rem !important; /*helper class to add the margin to the right side of any element*/
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

h2 {
  font-size: 4.4rem;
  color: #2e1907;
  margin: 1.6rem 0 9.6rem 0;
  line-height: 1.2;
}
h3 {
  color: #2e1907;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  /* letter-spacing: -0.5px; */
}
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
}
.grid--4-col {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-col {
  grid-template-columns: repeat(5, 1fr);
}
.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 700;
  letter-spacing: -3px;
}

.grid--center-v {
  align-items: center;
}
strong {
  font-weight: 500;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 1.2rem;
  font-weight: 700;
  border-radius: 10rem;
  text-transform: uppercase;
  color: #2e1907;
  margin: 1.2rem 0;
  margin-right: 1rem;
}
.tag-veg {
  background-color: #22c55e;
}
.tag-paleo {
  background-color: #fafa00;

  margin-right: 0;
}

.all-recipes {
  text-align: center;
}

.center-content {
  text-align: center;
}
/*********************************/
/*Hero Section*/
/*********************************/
.Section-Hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* margin-bottom: 9.6rem; */
}

.hero-summary {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
  /* font-weight: 500; */
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
  align-items: center;
}

.hero-grid {
  max-width: 130rem;
  margin: 0 auto; /*to center the grid in page*/
  padding: 0 3.2rem; /*to make the section to keep distance from screen border when screen size is reduced*/
}
.hero-img {
  width: 100%;
}

.customer-images {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 8rem;
}
.customer-img {
  display: flex;
}
.customer-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.customer-images img:last-child {
  margin-right: 0;
}
.customer-numbers {
  font-size: 1.6rem;
}
.customer-numbers span {
  color: #e67e22;
  font-weight: 700;
}
/*********************************/
/*Featured-In Section*/
/*********************************/
.featured {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  margin: 3.2rem 0;
}

.Section-featured-in {
  padding: 3.2rem 0;
}

.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*********************************/
/*How-to Section*/
/*********************************/
.app-image {
  width: 35%;
}
.sub-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #e67e22;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.how-to-image {
  display: flex;
  justify-content: center;
  position: relative;
}
.Section-how-to {
  padding: 9.6rem 3.2rem; /*this may create trouble*/
}

.how-to-details {
  font-size: 1.8rem;
  line-height: 1.6;
}

.how-to-image::before,
.how-to-image::after {
  content: "";
  display: block;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-to-image::before {
  /*********************************/
  /*Important trick to make blocks behind the image*/
  /*********************************/
  /*60% of parent's width*/
  padding-bottom: 60%;
  width: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.how-to-image::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

/*********************************/
/*Meals Section*/
/*********************************/
.meal-cards {
  padding: 0 3.2rem;
}
.meal-img img {
  max-width: 100%;
}

.meal-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meals ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-size: 1.8rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-properties {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meals {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s;
}

.meals:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transform: translate(0, -0.7rem);
}
.meal-detail {
  padding: 4.8rem;
  padding-top: 2.4rem;
}

.meal-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  line-height: 1.8;
}

.meal-list h3 {
  text-align: left;
}

.meal-list > ul li {
  font-size: 1.8rem;
  display: flex;
  color: #555;
  gap: 1.6rem;
}
.meal-list-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.list:link,
.list:visited {
  text-align: center;
  font-size: 1.6rem;
  display: inline-block;
  color: #e67e22;
  margin-top: 3.2rem;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
  padding-bottom: 1px;
}

.list:hover,
.list:active {
  border-bottom: 1px solid transparent;
}

/*********************************/
/*Testimonial Section*/
/*********************************/

.Section-testimonial {
  background-color: #fdf2e9;
  column-gap: 0;
  grid-template-columns: 55fr 45fr;
  /* padding: 1.6rem 1.6rem; */
}
.Testimonialimg {
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial.grid--2-col {
  row-gap: 4.8rem;
  column-gap: 9.6rem;
}
blockquote {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.customer-name-testimonial {
  font-size: 1.4rem;
  /* font-weight: 500; */
  color: #6f6f6f;
}
.testimonial-container > p {
  color: #e67e22;
  font-size: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.testimonial-container {
  padding: 9.6rem;
}
.gallery {
  /* row-gap: 1.6rem; */
  gap: 1.6rem;
  padding: 1.6rem;
  align-content: center;
}

.gallery-item {
  overflow: hidden;
}

/*********************************/
/*Price Section*/
/*********************************/

.Section-price .sub-heading,
.Section-price h2,
.Section-price .features {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.price-panel-intro {
  margin-bottom: 3.6rem;
  text-align: center;
}

.price-panel {
  border-radius: 1rem;
  padding: 6.4rem 6.8rem;
  width: 75%;
}
.price-panel-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 6.2rem;
}
.price-panel-complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.price-panel-complete::after {
  content: "Best value";
  text-transform: uppercase;
  background-color: #ffd700;
  padding: 0.6rem 6.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  top: 6%;
  right: -16%;
  transform: rotate(45deg);
}
.price-name {
  font-size: 1.6rem;
  font-weight: 800;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.price-cost {
  font-size: 5.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.price-cost span {
  font-size: 2.4rem;
  font-weight: 500;
}

.price-comment {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.margin-bottom-md {
  margin-bottom: 3.6rem;
}

.grid--2col-bt-margin {
  margin-bottom: 6.4rem;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1rem;
  border-radius: 50%;
  color: #e67e22;
  background-color: #fdf2e9;
}
.feature-title {
  font-size: 2.4rem;
  line-height: 1.8;
  font-weight: 700;
}
.feature-details {
  font-size: 1.6rem;
  color: #555;
}

.price-extra-info {
  font-size: 1.6rem;
  color: #666;
  margin: 4.8rem 0 6.4rem 0;
}
/*********************************/
/*CTA Section*/
/*********************************/

.Section-cta {
  padding: 9.6rem 3.2rem;
}
.cta {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* background-color: #e67e22; */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  border-radius: 9px;
}
.cta-img {
  background-image: linear-gradient(
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  padding: 6.4rem 8rem;
}

.cta-form h2 {
  margin: 0;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 6.4rem;
}
.form-cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.form-cta label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 1.2rem;
}
.form-cta input,
.form-cta select {
  border: none;
  background-color: #fdf2e9;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.form-cta input::placeholder {
  color: #aaa;
}

.cta-btn {
  padding: 1.2rem;
  cursor: pointer;
  background-color: #2e1907;
  align-self: end;
  border: none;
  color: #fdf2e9;
}
.cta-btn:hover {
  background-color: #fff;
  color: #2e1907;
}

.form-cta *:focus {
  outline: 3px dotted #fdf2e9;
  outline-offset: 1px;
}

/*********************************/
/*Footer*/
/*********************************/
.footer-section {
  padding: 9.6rem 3.2rem;
}
.footer {
  border-top: 1px solid #eee;
  margin-top: 12.8rem;
  margin-bottom: 4.8rem;
}

.footer-logo {
  margin-bottom: 2.4rem;
}
.footer-heading {
  font-size: 2rem;
  color: #555;
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #6f6f6f;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-links:active {
  color: #eb984e;
}

.footer-nav-links {
  list-style: none;
}

.social-links {
  display: flex;
  justify-content: space-around;
}
.logo-link > ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #6f6f6f;
  transition: all 0.3s;
}

.copyright {
  font-size: 1.4rem;
  margin-top: auto;
}
.logo-division {
  display: flex;
  flex-direction: column;
}
address {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #555;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.contacts {
  margin-top: auto;
}
.contacts a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #6f6f6f;
}

.footer-section li {
  margin-bottom: 1.8rem;
}

.footer-section li:last-child {
  margin-bottom: 0;
}
